{% extends 'base.html' %}
{% load static %}

{% block page_title %}Home{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'meetups/style/index.css' %}">
{% endblock css %}

{% block heading1 %}We got great meetups coming up.{% endblock heading1 %}
{% block header_content %}<p>Set your schedule now!</p>{% endblock header_content %}

{% block body_content %}
  <section>
    <h2>Upcoming Meetups</h2>
    <ol>
      {% for meetup in meetups %}
        {% include "meetups/includes/meetup.html" with title=meetup.title location="Philippines" slug=meetup.slug %}
      {% endfor %}
    </ol>
  </section>
{% endblock body_content %}