{% extends 'base.html' %}
{% load static %}

{% block page_title %}Home{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'meetups/style/index.css' %}">
{% endblock css %}

{% block body_content %}
  <main>
    <section>
      <h2>Upcoming Meetups</h2>
      <ol>
        {% for meetup in meetups %}
          <li class="meetup-item">
            <article>
              <div class="meetup-summary">
                <div class="meetup-image">
                  <img src="" alt="">
                </div>
                <div class="meetup-details">
                  <h3>{{ meetup.title }}</h3>
                  <address>{{ meetup.location }}</address>
                </div>
              </div>
              <div class="meetup-actions">
                <a href="" class="btn">More Details</a>
              </div>
            </article>
          </li>
        {% endfor %}
      </ol>
    </section>
  </main>
{% endblock body_content %}