{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock page_title %}</title>

  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block css %}{% endblock css %}
</head>
<body>
  <header id="main-header">
    <nav><a href="" id="main-logo">Meetups</a></nav>
    <h1>We got great meetups coming up.</h1>
    <p>Set your schedule now!</p>
  </header>

  {% block body_content %}{% endblock body_content %}
</body>
</html>